astroid==2.5.6
attrs==21.2.0
bcrypt==3.2.0
Bcrypt-Flask==1.0.1
cffi==1.14.5
click==8.0.1
colorama==0.4.4
dnspython==2.1.0
email-validator==1.1.2
Flask==2.0.1
flask-jsonschema-validator==0.0.4
Flask-JWT==0.3.2
flask-mongoengine==1.0.0
Flask-WTF==0.15.1
idna==3.1
isort==5.8.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
mongoengine==0.23.1
Pillow==8.2.0
pycparser==2.20
PyJWT==1.4.2
pylint==2.8.2
pymongo==3.11.4
pyrsistent==0.17.3
python-dotenv==0.17.1
six==1.16.0
toml==0.10.2
Werkzeug==2.0.1
wrapt==1.12.1
WTForms==2.3.3
yapf==0.31.0
